---
import { HeroSlider1, HeroSlider3 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout
    title="万城金姐拌饭"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Hero
            client:load
            heroType="fullPageSlider"
            data={[
                {
                    subtitle: "万城金姐拌饭 官方网站",
                    title: "万城金姐拌饭",
                    background: HeroSlider1.src,
                    paragraph:
                        "一缕烟火气   唤醒人间情",
                    button: {
                        text: "浙ICP备2024118647号-1",
                        link: "https://beian.miit.gov.cn/",
                    },
                   
                },
            ]}
        />
    </main>
</Layout>
