---
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import { HeroSlider3, InfiniteImg1, InfiniteImg2 } from "@static/images";
import { ServiceCards } from "@modules/ServiceCards";
import { Footer } from "@modules/Footer";
---

<Layout
    title="Cybernetic | Homepage"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:visible
            data={{
                image: HeroSlider3.src,
                content: {
                    title: "关于我们",
                    paragraph:
                        "为顾客提供放心美味的延边美食",
                },
            }}
        />

        <Hero
            heroType="textImage"
            client:visible
            data={{
                image: {
                    src: InfiniteImg1.src,
                    width: 590,
                    height: 300,
                    alt: "Hero Image",
                },
                title: "美味体验",
                paragraph:
                    "一口金姐拌饭，满满的幸福滋味。丰富的食材在口中交织，米饭的软糯、蔬菜的清爽、肉类的鲜美，再加上浓郁的酱料，让人回味无穷。无论是忙碌的工作日午餐，还是与朋友相聚的晚餐，金姐拌饭都是你的最佳选择。快来品尝吧，让美味在舌尖绽放。",
            }}
        />
        <Hero
            heroType="textImage"
            client:visible
            data={{
                switchPlaces: true,
                image: {
                    src: InfiniteImg2.src,
                    width: 590,
                    height: 300,
                    alt: "Hero Image",
                },
                title: " 品牌故事 品质承诺",
                paragraph:
                    "一、品牌故事:在美食的万城之中，有一处温暖的角落，那便是金姐拌饭。金姐带着对美食的执着与热爱，用心打造每一碗拌饭。多年的烹饪经验，让她深知食材的奥秘与搭配的精髓。每一口金姐拌饭，都是一场味蕾的奇妙之旅，承载着家的味道与温暖。二、品质承诺：我们坚持选用新鲜优质的食材，从田间到餐桌，严格把控每一个环节。大米粒粒饱满，蔬菜鲜嫩欲滴，肉类鲜嫩多汁。精心调制的秘制酱料，为拌饭增添独特的风味。在万城金姐拌饭，我们以品质为根本，为你带来最纯正的美食享受。",
            }}
        />
    </main>
    <Footer />

</Layout>
